<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Shopcast</title>

      <link rel="stylesheet" href="../bower_components/materialize/bin/materialize.css">
      <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div id="app">
    </div>
  </body>

  <script>
    require('./../src/main.js');
    var $ = require('jquery');
    require('electron-connect').client.create();
  </script>
  <!--<script src="../bower_components/jquery/dist/jquery.min.js"></script>-->
  <script src="../bower_components/materialize/bin/materialize.js"></script>
</html>
