extends ../layout

block content
	header.title-content
		h1= titleContent
	article.wrapper-content#files
		form(action="/users/reset_password", method='post')
			input(type="username" name="username" placeholder="Username")
			input(type="submit", value="Submit")
