/*******************************************************************
********************************************************************
***************************** General ******************************
********************************************************************
*******************************************************************/

body, html{
	margin: 0;
	padding: 0;
	background-color: #E6E6E6;
	width: 100%;
	height: 100%;
	overflow: hidden
}

/*******************************************************************
********************************************************************
****************************** Header ******************************
********************************************************************
*******************************************************************/

#header{
	padding-bottom: 140px;
}

#header .brand-logo{
	margin-left: 20px;
	font-size: 25px;
	font-weight: 400;
	margin-top: 10px;
}

#header .brand-logo > span{
	font-size: 50px;
	font-weight: 500;
}

#header .page-title{
	font-size: 25px;
	margin:0;
}

#header .menu{
	box-shadow: none;
}

#header .menu .user{
}

#header .menu .user a{
	font-size: 15px;
}

#header .menu .user img{
	width: 45px;
	margin-right: 10px;
}

/*******************************************************************
********************************************************************
******************************* Body *******************************
********************************************************************
*******************************************************************/

#main{
	width: 80%;
	margin: -88px auto auto;
	background-color: #FFF;
	height: 100%;
}

#main > header{
	border-bottom: 1px solid #E6E6E6;
	padding: 27px 30px;
	position: relative;
}

#main > header .actions{
	position: absolute;
	right: 24px;
	bottom: 20px;
}

#main > header .actions button{
	margin: 0 5px;
}


#main > header > h1{
	margin: 0;
	font-size: 30px;
	width: auto;
	display: inline-table;
	color: #3C4B53;
	margin-right: 10px;
}

#main .wrapper-content{
	padding: 0 25px;
	padding-bottom: 20px;
	height: 100%;
	overflow: auto;
	margin-bottom: 88px
}