extends layout

block content
	article.wrapper-content#settings
		div.row
			div.col.s12
				ul.tabs
					li(class="tab col s3")
						a(href="#general") General
					li(class="tab col s3")
						a(href="#translate") Translate
			div(id="general" class="col s12") Test 1
			div(id="translate" class="col s12") Translate