/*******************************************************************
********************************************************************
***************************** General ******************************
********************************************************************
*******************************************************************/

body, html{
	margin: 0;
	padding: 0;
	background-color: #FFF;
	width: 100%;
	height: 100%;
}


/*******************************************************************
********************************************************************
****************************** Header ******************************
********************************************************************
*******************************************************************/

#header{
	padding-bottom: 220px;
}

#header .brand-logo{
	margin-left: 20px;
	font-size: 25px;
	font-weight: 400;
	margin-top: 10px;
}

#header .brand-logo > span{
	font-size: 30px;
	font-weight: 600;
}

#header .page-title{
	font-size: 25px;
	margin:0;
}

#header .menu{
	box-shadow: none;
}

#header .menu .user{
}

#header .menu .user a{
	font-size: 15px;
}

#header .menu .user .avatar{
	width: 45px;
	margin-right: 10px;
}

#header .title{
	font-size: 50px;
	font-weight: 300;
	text-align: center;
	padding-top: 50px;
}

#language-select{
	width: 120px;
	position: fixed;
	bottom: 0;
	right: 0;
	height: 40px;
	background-color: #FFF;
}

#language-select > a{
	width: 100%;
	position: relative;
	height: 100%;
}

#language-select span{
	position: absolute;
	top: 8px;
	left: 12px;
	font-size: 15px;
	color: #333;
}

#language-select img{
	position: absolute;
	width: 30px;
	right: 12px;
	top: 5px;
}

/*******************************************************************
********************************************************************
***************************** Sign in ******************************
********************************************************************
*******************************************************************/

#sign-in form{
	margin-top: 40px;
}

#sign-in form .btn-valid{
	margin-top: 20px;
}

#sign-in .separate{
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 30px;
}

#sign-in .btn-connect .btn{
	margin: 0 10px;
}

/*******************************************************************
********************************************************************
******************************* Body *******************************
********************************************************************
*******************************************************************/

#main{
	width: 100%;
	background-color: #FFF;
}

#main header.actions{
	padding: 40px 0;
	position: relative;
	text-align: center;
}

#main header{
	text-align: center;
	padding-top: 40px;
}

#main header h4{
	margin: 0;
	font-size: 30px;
	font-weight: 300;
	width: auto;
	display: inline-table;
	color: #3C4B53;
	margin-right: 10px;
}

#main .wrapper-content{
	padding: 0 25px;
	padding-bottom: 20px;
	height: 100%;
	margin-bottom: 50px;
}

#main .wrapper-content .listing .actions{
	text-align: center;
}

#main .wrapper-content .listing .actions .btn-floating{
	margin:0 5px;
}

#main .wrapper-content .listing td img{
	width: 55px;
}

#main .wrapper-content .listing td .chip{
	margin: 0 5px; 
}


/*******************************************************************
********************************************************************
***************************** Settings *****************************
********************************************************************
*******************************************************************/

#settings #translate .language-list li .collapsible-header div{
	display: inline-table;
	width: 50px;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
}

#settings #translate .language-list li .collapsible-header span{
	font-size: 16px;
}

#settings #translate .language-list li .collapsible-header img{
	width: 30px;
}

#settings #translate .page-list{
	margin: 25px auto;
}

#settings #translate .page-list .collapsible-body form{
	margin: auto;
}

/*******************************************************************
********************************************************************
**************************** Dashboard *****************************
********************************************************************
*******************************************************************/

#dashboard{
	padding-top: 40px !important;
}

#dashboard .chart-wrapper{
	text-align: center;
	padding: 10px;
}

#dashboard .chart-wrapper .header h4{
	color: #FFF;
	padding-bottom: 30px;
	font-size: 30px;
	font-weight: 300
}

#dashboard .chart-wrapper .legends
{
	padding-top: 10px;
}

#dashboard .chart-wrapper .legends .legend {
	display: inline-block;
	width: 20%;
}

#dashboard .chart-wrapper .legends .legend > div{
	display: inline-block;
}

#dashboard .chart-wrapper .legends .legend .square{
	width: 15px;
	height: 15px;
}

#dashboard .chart-wrapper .legends .legend .name{
	font-size: 14px;
	font-weight: 400;
	color: #FFF;
	margin-left: 10px;
}

#dashboard .chart-wrapper .legends .legend.ct-series-a .square{
	background-color: #fdd835;
}

#dashboard .chart-wrapper .legends .legend.ct-series-b .square{
	background-color: #ef5350;
}

#dashboard .chart-wrapper .legends .legend.ct-series-c .square{
	background-color: #69f0ae;
}

.ct-chart .ct-label.ct-vertical,
.ct-chart .ct-label.ct-horizontal{
  	color: #FFF;
  	font-size: 13px;
}

.ct-chart .ct-grid.ct-vertical,
.ct-chart .ct-grid.ct-horizontal {
  	stroke: rgba(255, 255, 255, 0.3);
  	shape-rendering: auto;
}

.ct-chart .ct-series.ct-series-a .ct-line {
  	stroke: #fdd835;
  	stroke-width: 6px;
  	stroke-linecap: round;
}

.ct-chart .ct-series.ct-series-b .ct-line {
  	stroke: #ef5350;
  	stroke-width: 6px;
  	stroke-linecap: round;
}

.ct-chart .ct-series.ct-series-c .ct-line {
  stroke: #69f0ae;
  stroke-width: 6px;
  stroke-linecap: round;
}

.ct-chart .ct-series.ct-series-a .ct-bar{
	stroke: #fdd835;
  	stroke-width: 40px;
  	stroke-linecap: butt;
}

.ct-chart .ct-series.ct-series-b .ct-bar {
  	stroke: #ef5350;
  	stroke-width: 40px;
  	stroke-linecap: butt;
}

.ct-chart .ct-series.ct-series-c .ct-bar {
  stroke: #69f0ae;
  stroke-width: 40px;
  stroke-linecap: butt;
}


/*******************************************************************
********************************************************************
**************************** Light box *****************************
********************************************************************
*******************************************************************/

.light-box h4{
	color: #FFF;
	font-size: 35px;
	padding-top: 50px;
	padding-bottom: 25px;
	font-weight: 300;
}

.light-box .modal-content .actions .btn{
	margin: 0 10px;
}

#modal-language .listing-countries{
	text-align: center;
}

#modal-language .listing-countries .country{
	display: inline-block;
	width: 40px;
	margin: 0 10px;
}

#modal-language .listing-countries .country img{
	width: 40px;
}


/***************************************************************************
****************************************************************************
************************** Materialize overwrite ***************************
****************************************************************************
***************************************************************************/

.modal{
	max-height: 90%;
}

.filled-in[type="checkbox"]:checked + label::after, [type="radio"]:checked + label::after{
    border: 2px solid #03A9F4;
    background-color: #03A9F4;
}

.input-field .prefix.active{
    color: #03A9F4;
}

.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
    color: #03A9F4;
}

.input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #03A9F4;
}

.dropdown-content li span, .picker__close, .picker__today{
    color: #03A9F4;
}

.picker__weekday-display, .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
    background-color: #0277bd;
}

.picker__day.picker__day--today{
    color: #0277bd;
    font-weight: 500;
}

.picker__date-display{
    background-color: #03A9F4;
}