/*******************************************************************
********************************************************************
***************************** General ******************************
********************************************************************
*******************************************************************/

body, html{
	margin: 0;
	padding: 0;
	background-color: #E6E6E6;
	width: 100%;
	height: 100%;
	overflow: hidden
}


/*******************************************************************
********************************************************************
****************************** Header ******************************
********************************************************************
*******************************************************************/

#header{
	padding-bottom: 240px;
}

#header .brand-logo{
	margin-left: 20px;
	font-size: 25px;
	font-weight: 400;
	margin-top: 10px;
}

#header .brand-logo > span{
	font-size: 30px;
	font-weight: 600;
}

#header .page-title{
	font-size: 25px;
	margin:0;
}

#header .menu{
	box-shadow: none;
}

#header .menu .user{
}

#header .menu .user a{
	font-size: 15px;
}

#header .menu .user .avatar{
	width: 45px;
	margin-right: 10px;
}

#header .title{
	font-size: 50px;
	font-weight: 300;
	text-align: center;
	padding-top: 30px;
}

/*******************************************************************
********************************************************************
***************************** Sign in ******************************
********************************************************************
*******************************************************************/

#sign-in form{
	margin-top: 40px;
}

#sign-in form .btn-valid{
	margin-top: 20px;
}

#sign-in .separate{
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	margin-top: 35px;
	margin-bottom: 45px;
}

#sign-in .btn-connect .btn{
	margin: 0 10px;
}

/*******************************************************************
********************************************************************
******************************* Body *******************************
********************************************************************
*******************************************************************/

#main{
	width: 80%;
	margin: -88px auto auto;
	background-color: #FFF;
	height: 100%;
}

#main > header{
	border-bottom: 1px solid #E6E6E6;
	padding: 27px 30px;
	position: relative;
	text-align: center;
}

#main > header .actions{
	position: absolute;
	right: 24px;
	bottom: 18px;
}

#main > header .actions button{
	margin: 0 5px;
}


#main > header > h1{
	margin: 0;
	font-size: 30px;
	width: auto;
	display: inline-table;
	color: #3C4B53;
	margin-right: 10px;
}

#main .wrapper-content{
	padding: 0 25px;
	padding-bottom: 20px;
	height: 100%;
	overflow: auto;
	margin-bottom: 88px
}

#main .wrapper-content .listing .actions{
	text-align: center;
}

#main .wrapper-content .listing .actions .btn-floating{
	margin:0 5px;
}

#main .wrapper-content .listing td img{
	width: 55px;
}

#main .wrapper-content .listing td .chip{
	margin: 0 5px; 
}

/*******************************************************************
********************************************************************
******************************* Body *******************************
********************************************************************
*******************************************************************/

.light-box h4{
	color: #FFF;
	font-size: 35px;
	padding-top: 50px;
	padding-bottom: 25px;
	font-weight: 300;
}

.light-box .modal-content .actions .btn{
	margin: 0 10px;
}

/***************************************************************************
****************************************************************************
************************** Materialize overwrite ***************************
****************************************************************************
***************************************************************************/

.filled-in[type="checkbox"]:checked + label::after, [type="radio"]:checked + label::after{
    border: 2px solid #03A9F4;
    background-color: #03A9F4;
}

.input-field .prefix.active{
    color: #03A9F4;
}

.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
    color: #03A9F4;
}

.input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #03A9F4;
}

.dropdown-content li span, .picker__close, .picker__today{
    color: #03A9F4;
}

.picker__weekday-display, .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
    background-color: #0277bd;
}

.picker__day.picker__day--today{
    color: #0277bd;
    font-weight: 500;
}

.picker__date-display{
    background-color: #03A9F4;
}