doctype
html(lang="en")
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		script(type='text/javascript', src="/socket.io/socket.io.js")
		block head
	body
		#main
			
			#header
				block header
			#main-menu
				block menu
			#wrapper
				block content
			#footer
				block footer