extends ../layout

block content
	#calendar
	header.title-content
		div.actions
	article.wrapper-content#files
		table
			thead
				tr
					th edit
					th title
			tbody
				each planning in plannings
					tr
						td
							a(href="/plannings/#{planning.id}") Edit
						td
							"#{ planning.title }"
block script
	script(type='text/javascript', src='/js/calendar.js')
