extends layout

block content
	header.title-content
		h1= titleContent
	article.wrapper-content
		form(action='/session', method='post')
			input(type='hidden', name='strategy' value='local')
			input(type='text', name='username')
			input(type='password', name='password')
			input(type='submit')
	
		button(id='facebookBtn') Connect Facebook
		a(href='/session/auth/google') Connect Google

	script(type='text/javascript', src='js/facebookAuth.js')
