.container{
  position: fixed;
  left: 25%;
  top: 20%;
  width: 50%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box{
  padding: 10px 50px 50px 50px;
}

.title{
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.input{
  text-align: center;
}

.inputWrapper{
  margin: 5px 0;
}

.actions{
  margin-top: 15px;
}
