extends ../layout

block content
	header.title-content
		div.actions.container
	article.wrapper-content
		section.container
			form(action="/users/reset_password", method='post')
				div.input-field.col.s12
					i(class="material-icons prefix") edit
					label(for="username") #{translate.username}
					input(type='text' name='username' id="username" placeholder='#{translate.username}')
				div.input-field.col.s12.actions.center-align
					button(type='submit' class="light-green darken-2 btn btn-large waves-effect waves-light") #{translate.btnSave}
						i.material-icons.left done
					a(href='/signin' class="red darken-2 btn btn-large waves-effect waves-light modal-edit-cancel") #{translate.btnCancel}
						i.material-icons.left cancel
