extends layout

block content
	header.title-content
		h1= titleContent
	article.wrapper-content
		form(action='/users', method='post')
			input(type='text', name='username')
			input(type='password', name='password')
			input(type='submit')
