extends ../layout

block content
	header.title-content
		h1= titleContent
	article.wrapper-content#files
		form(action='/monitors', method='post')
			input(type='text', name='name')
			input(type='text', name='uid')
			input(type='submit' value='Add a monitor')
					
